<style>
    #search_form {
        margin-top: 30px;
    }
    
    #write_form {
        width: 100%;
        overflow-y: auto;
    }
    
    .bamboonumber {
        color:#336699;
        font-size:13;
        font-weight:bold
    }
    
    .container {
        
    }
    
    body {
        
    }

    nav {
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .style_image {
      z-index: -1;
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    
    #searchbtn {
        float: right;
    }
    
</style>

<%= image_tag 'background.jpg', :class => "style_image" %>
<div class="container">

<!-- 검색 공간 -->
    <form id="search_form" action = "/post/search" method="GET">
        <div class="row input-field">
            <div class="col s11">
                <input type="text" class="materialize-textarea" id="words" name="words">
                <label for="words">검색할 글 내용</label>
            </div>
            <button id="searchbtn" type="submit" class="btn-floating btn-large waves-effect waves-light orange"><i class="material-icons">search</i></button>
        </div>
    </form>

<!-- 글 작성 -->
    <form id="write_form" action = "/post/write" method="POST" enctype="multipart/form-data" class="card-panel grey lighten-5 z-depth-1 center-align">
        <div class="row">
            <div class="input-field col s12">
                <textarea id="content" class="materialize-textarea" rows="10" name="content"></textarea>
                <label for="content">글 내용</label>
            </div>
            <div class="input-field col s12">
                <input class="materialize-textarea" type="text" id="tags" name="tags">
                <label for="tags">태그</label>
            </div>
            <div class="file-field input-field col s12">
              <div class="btn">
                <span>이미지 파일 업로드</span>
                <input type="file" name="pic" accept="image/*">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
            <button class="btn waves-effect waves-light red " type="submit" id="post_submit" name="action" style="margin-top:10px;">
                작성하기
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
    
    
    
    <% @posts.each do |p| %>
    <div class="card big hoverable" style="padding:5px 15px;">
            
            <p class="bamboonumber">
                #멋사어둠의대나무숲<%= p.id %>
            </p>
            
            <% if p.email == current_user.email %>
                <a href="/post/<%= p.id %>/destroy"><span><i class="material-icons" style="color:black; float:right; padding:5px 0 0 0">clear</i></span></a>&nbsp;&nbsp;
                <a href="/post/<%= p.id %>/edit/view"><span><i class="material-icons" style="color:black; float:right; padding:5px 0 0 0">create</i></span></a>
            <% end %>
            
            <!--사진 띄우기-->
            <% unless p.image_url.nil? %>
            <img src="<%= p.image_url %>" style="max-width:400px;height:auto">
            <% end %>
            
            <!--글 내용-->
            <p>
            <%= p.content %>
            </p>
            <br><br>
            
            <!--태그-->
            <p style="color:pink;font-size:12px;font-weight:bold;">태그 : <span><%= '#' + p.tags %></a></span></p><br>
            
            <!--댓글 출력-->
            <div class="comment_space_<%= p.id %>">
            <% p.comments.each do |c| %>
                <!--<div class="content">-->
                <p style="color:#336699;font-size:12px;font-weight:bold;">익명: <span class="span_destroy"><%= c.content %></span>
                    <% if c.email == current_user.email %>
                        <span>
                            <a href='/post/<%= p.id %>/comment/<%= c.id %>/destroy' 
                            style="color:#336699;font-size:11px;font-weight:bold;">&nbsp;&nbsp;&nbsp;&nbsp;[삭제]</a>
                            <a href='#' data-value="<%= c.id %>" data-value2="<%= p.id %>" data-value3="0" class="comment_edit" 
                            style="color:#336699;font-size:11px;font-weight:bold;">&nbsp;[수정]</a>
                        </span>
                    <% end %>
                </p>
                <!--</div>-->
                <!-- <a href="/post/<%= p.id %>/comment/<%= c.id %>/edit">수정</a> -->
            <% end %>
            </div>
            
            
            <!--댓글 입력-->
            <!--댓글 작성 -->
            <div class="row" style="padding-left: 10px; padding-right: 10px;">
                <input type="text" id="comment_content_<%= p.id %>" placeholder="내용" name="comment_content_<%= p.id %>" class="col s11">
                <button style="" class="btn waves-effect waves-light comment_write red col s1" name="action" value="<%= p.id %>" type="submit"style="width:23%;">댓글 작성
                <i class="material-icons right"></i></button>
            </div>
        
        </div>
        <% end %>
</div>
<script>
    //댓글달기
    $(function(){
      
      $('#search_box').keyup(function(e) {
          if (e.keycode == 13) {
              /* Enter */
              $('#search_form').submit();
          }
      });
      
      $(".comment_write").click(function(){
        
        post_id = this.value;
        comment_content = $("#comment_content_" + post_id).val();
      
        $.ajax({
          method: "POST",
          url: "/post/comment/write",
          data: { content: comment_content, post_id: post_id },
          datatype: 'json',
          success: function(data){
            var html =  "<span><a href='/post/" + post_id + "/comment/" + data.comment_id[0] + "/destroy'" + 
                        "style='color:#336699;font-size:11px;font-weight:bold;'>&nbsp;&nbsp;&nbsp;&nbsp;[삭제]</a> " +
                        "<a href='#' data-value='" + data.comment_id[0] + "' data-value2='" + post_id + "' data-value3='0' class='comment_edit' " +
                        "style='color:#336699;font-size:10px;font-weight:bold;'>[수정]</a></span>";
                        
            $(".comment_space_" + post_id).prepend("<p style='color:#336699;font-size:12px;font-weight:bold;'>익명: <span class='span_destroy'>" + comment_content + "</span>" + html + "</p>");
            $("#comment_content_" + post_id).val('');
          },
          error: function(){
          }
        });
      });
      
      $('body').on('click', '.comment_edit', function(event) {
          comment_id = $(this).attr('data-value');
          post_id = $(this).attr('data-value2');
          comment = $(this).parent().parent().find('span.span_destroy').text();
          
          mode = $(this).attr('data-value3');
          
         if (mode == "0") {
             $(this).parent().parent().find('span.span_destroy').replaceWith("<input type='text' value='" + comment + "'>");
             $(this).attr('data-value3', "1");
         } 
         else {
             $(this).attr('data-value3', "0");
             comment_content = $(this).parent().parent().find('input').val();
             
             $.ajax({
              method: "POST",
              url: "/post/" + post_id + "/comment/" + comment_id + "/edit",
              data: { content: comment_content },
              success: function(){
                  $('.comment_edit[data-value=' + comment_id + ']').parent().parent().find('input').replaceWith("<span class='span_destroy'>" + comment_content + "</span>");
              },
              error: function(){
              }
            });
         }
         
         event.preventDefault();
      });
    });    
</script>