<!--https://docs.google.com/forms/d/1ga7PbSPx9JugeQNa9nYf_9BTfP_WWbd0vZLlVr3_6bw/viewform-->
<div class="container">
<!--<h1>메인 최신글 보이기</h1> -->


<!--<h2>검색하기 글</h2>-->
    <form id="search_form" action = "/post/search" method="GET" style="margin-top: 30px;" >
        <div class="row">
            <div class="input-field col s12">
                <input type="text" class="materialize-textarea" id="words" name="words" placeholder="글 검색하기">
                <button type="submit" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">search</i></button>
                <!--<button type="submit"><i class="material-icons">search</i></button>-->
              <!--<label for="icon_prefix">글 검색하기</label>-->
              <!--<i class="material-icons prefix">search</i>-->
              <!--<input id="search_box" name="words" type="text" class="validate">-->
            </div>
        </div>
    </form>
<!--<h2>검색하기 태그</h2>-->



<!--<h3>글작성공간</h3>-->
<div style="align:center;">
    <!--<div class="row">-->
        <br>
    <!--<div class="container_post_write" >-->
        <div class="card-panel grey lighten-5 z-depth-1" style="width:100%;height:330px; overflow-y:auto;">
        <form action = "/post/write" method="POST" enctype="multipart/form-data">
            <div style="width:100%;height:250px;">
            <!--글 내용 입력창-->
                <div class="input-field col s5" style="display:block;">
                    <textarea id ="content" style="min-height:10px!important; height:1rem" class="materialize-textarea" name="content" placeholder="내용을 써봐"></textarea>
                </div>
                <!--태그 작성-->
                <div class="input-field col s5 style="display:block;"">
                    <input class="materialize-textarea" type="text" id="tags" name="tags" placeholder="태그도 넣어봐~">
                </div>
                <!--사진 올리기-->
                <input style="margin-bottom:10px;"type="file" name="pic" accept="image/*"></br>
                <!--전송 버튼-->
                <button class="btn waves-effect waves-light red " type="submit" id="post_submit" name="action" style="margin-top:10px;">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
    <!--</div>-->
    <!--</div>-->
    <!---->
    
    
  </div>  
    
    
    
    <% @posts.each do |p| %>
    <div class="card big" style="padding:5px 15px;">
            
            <p style="color:#336699;font-size:13;font-weight:bold">
            <!--<a link="#">-->
                #멋사어둠의대나무숲<%= p.id %></a><br>
            </p>
            
            <% if p.email == current_user.email %>
                <a href="/post/<%= p.id %>/destroy"><span><i class="material-icons" style="color:black;float:right;padding:5px 0 0 0">clear</i></span></a>&nbsp;&nbsp;
                <a href="/post/<%= p.id %>/edit/view"><span><i class="material-icons" style="color:black;float:right;padding:5px 0 0 0">create</i></span></a>
            <% end %>
            
            <!--사진 띄우기-->
            <% unless p.image_url.nil? %>
            <img src="<%= p.image_url %>" style="max-width:400px;height:auto">
            <% end %>
            
            <!--글 내용-->
            <p>
            <%= p.content %>
            </p>
            <br><br>
            
            <!--태그-->
            <p style="color:pink;font-size:12px;font-weight:bold;">태그 : <span><%= '#' + p.tags %></a></span></p><br>
            
            <!--댓글 출력-->
            <div class="comment_space_<%= p.id %>">
            <% p.comments.each do |c| %>
                <!--<div class="content">-->
                <p style="color:#336699;font-size:12px;font-weight:bold;">익명: <span class="span_destroy"><%= c.content %></span>
                    <% if c.email == current_user.email %>
                        <span>
                            <a href='/post/<%= p.id %>/comment/<%= c.id %>/destroy' 
                            style="color:#336699;font-size:11px;font-weight:bold;">&nbsp;&nbsp;&nbsp;&nbsp;[삭제]</a>
                            <a href='#' data-value="<%= c.id %>" data-value2="<%= p.id %>" data-value3="0" class="comment_edit" 
                            style="color:#336699;font-size:11px;font-weight:bold;">&nbsp;[수정]</a>
                        </span>
                    <% end %>
                </p>
                <!--</div>-->
                <!-- <a href="/post/<%= p.id %>/comment/<%= c.id %>/edit">수정</a> -->
            <% end %>
            </div>
            
            
            <!--댓글 입력-->
            <!--댓글 작성 -->
            <input type="text" id="comment_content_<%= p.id %>" placeholder="내용" name="comment_content_<%= p.id %>" style="width:77%">&nbsp;&nbsp;
            <button style="margin-bottom:30px;" class="btn waves-effect waves-light comment_write red" name="action" value="<%= p.id %>" type="submit"style="width:23%;">댓글 쓰기
            <i class="material-icons right"></i></button><br>
           
        
        </div>
        <% end %>
</div>
<script>
    //댓글달기
    $(function(){
      
      $('#search_box').keyup(function(e) {
          if (e.keycode == 13) {
              /* Enter */
              $('#search_form').submit();
          }
      });
      
      $(".comment_write").click(function(){
        
        post_id = this.value;
        comment_content = $("#comment_content_" + post_id).val();
      
        $.ajax({
          method: "POST",
          url: "/post/comment/write",
          data: { content: comment_content, post_id: post_id },
          datatype: 'json',
          success: function(data){
            var html =  "<span><a href='/post/" + post_id + "/comment/" + data.comment_id[0] + "/destroy'" + 
                        "style='color:#336699;font-size:11px;font-weight:bold;'>&nbsp;&nbsp;&nbsp;&nbsp;[삭제]</a> " +
                        "<a href='#' data-value='" + data.comment_id[0] + "' data-value2='" + post_id + "' data-value3='0' class='comment_edit' " +
                        "style='color:#336699;font-size:10px;font-weight:bold;'>[수정]</a></span>";
                        
            $(".comment_space_" + post_id).prepend("<p style='color:#336699;font-size:12px;font-weight:bold;'>익명: <span class='span_destroy'>" + comment_content + "</span>" + html + "</p>");
            $("#comment_content_" + post_id).val('');
          },
          error: function(){
          }
        });
      });
      
      $('body').on('click', '.comment_edit', function(event) {
          comment_id = $(this).attr('data-value');
          post_id = $(this).attr('data-value2');
          comment = $(this).parent().parent().find('span.span_destroy').text();
          
          mode = $(this).attr('data-value3');
          
         if (mode == "0") {
             $(this).parent().parent().find('span.span_destroy').replaceWith("<input type='text' value='" + comment + "'>");
             $(this).attr('data-value3', "1");
         } 
         else {
             $(this).attr('data-value3', "0");
             comment_content = $(this).parent().parent().find('input').val();
             
             $.ajax({
              method: "POST",
              url: "/post/" + post_id + "/comment/" + comment_id + "/edit",
              data: { content: comment_content },
              success: function(){
                  $('.comment_edit[data-value=' + comment_id + ']').parent().parent().find('input').replaceWith("<span class='span_destroy'>" + comment_content + "</span>");
              },
              error: function(){
              }
            });
         }
         
         event.preventDefault();
      });
    });    
</script>