<!DOCTYPE html>
<html lang="ko">
<head>
  <%= favicon_link_tag 'bamboo.gif' %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
  <title>어둠의 대나무숲 :: 멋쟁이 사자처럼</title>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  
  <%= csrf_meta_tags %>
  
  <style>
  
  </style>
  
</head>
<body>
<% if user_signed_in? %>
  <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center">멋쟁이 사자처럼 어둠의 대나무 숲</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/mypost">내 글보기</a></li>
            <li><a href="/users/sign_out">로그아웃</a></li>
            <li><a href="collapsible.html"></a></li>
          </ul>
        </div>
    </nav>
  </div>
<% end %>
<%= yield %>

</body>
</html>
